<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <h3 class="navbar-brand" href="#">Nor-Shipping 2019</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" style="border-left: 3px solid rgb(232 55 113);">
          <p>Deals</p>
          <span>43</span>
        </li>
        <li class="nav-item" style="border-left: 3px solid rgb(105 65 180);">
          <p>Total value </p>
          <span>4.19 min</span>
        </li>
        <li class="nav-item" style="border-left: 3px solid rgb(44 152 240);">
          <p>Hit Rate</p>
          <span>10%</span>
        </li>
        <li class="nav-item" style="border-left: 3px solid rgb(80 175 86);">
          <p>Deals Won</p>
          <span>12/65</span>
        </li>
        <li class="nav-item" style="border-left: 3px solid #FF4500;">
          <p>New Clients</p>
          <span>8/12</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>

<div>
  <ul class="nav nav-underline">
    <button class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Exhibitors</a>
    </button>
    <button class="nav-item">
      <a class="nav-link" href="#">Sales</a>
    </button>
    <button class="nav-item">
      <a class="nav-link" href="#">Program</a>
    </button>
    <button class="nav-item">
      <a class="nav-link" href="#">Delegates</a>
    </button>
    <button class="nav-item">
      <a class="nav-link" href="#">Setting</a>
    </button>
  </ul>
</div>


<div style="background-color: rgb(245 247 250);padding: 15px;">
  <button>Deals</button>
  <button>Activities</button>
  <button>Statistics</button>
</div>